

.form-control
{

align-items: center;
border-radius: 55px;
font-size: 30px;
width: 200px;


}

.centered1
{
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 55px;

}

.centered2
{
    margin: auto;
    width: 50%;
    justify-self: center;

}

.centeredinside
{
    margin: auto;
    width: 50%;
    border: 5px solid rgb(13, 121, 148);
    padding: 10px;

}

body{
background-image: url("wall.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position: center center;
color: rgb(0, 0, 0);

}

input{

    background-image: url("block.png");
    border-radius: 555px;

    
    
}

label{
    font-size: 25px;


}

#sub{
    font-size: 25px;
    height: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 250px;
    border-radius: 25px;


}
.former .confirmer{
    
    margin: 100px;
    text-align: center;
}




h2{

    font-family:monospace;
    text-align: center;
    border-radius: 55px;

}

.button{

margin-top: 50px;
}